#landingPage {
	margin-top: 100px;
	font-family: 'Questrial';
	
	#header {
		padding-bottom: 50px;
		min-height: 250px;
		
		#trendingCta {
			.chartImg {
				width: 100px;
			}
		}
		
		#randomCta {
			.randomImg {
				width: 100px;
			}
		}
	}
	
	
	#listing {
		background-color: #f7f7f7;
	}
	#search {
		
	}
	
	#topPost {
		margin-top: 20px;
		
		.topLabel {

		}
		.trophy {
			padding: 23px;
			background-color: #BFD5DC;
			border-radius: 50%;
			width:125px;
			height: 125px;
			margin: 20px;
			.trophyImg {
				width: 80px;	
			}
		}
	}
}

#posts {
	#post {
		background-color: #edfbff;
		font-family: 'Questrial';
		padding: 10px 5px;
		margin: 5px 0;
	}
	
	img {
		width: 70px;
	}
}

/* Trannsition Animationa */
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;

}

[ui-view].ng-enter-active {
  opacity: 1;

}

[ui-view].ng-leave {
  opacity: 1;

}

[ui-view].ng-leave-active {
  opacity: 0;

}