nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation           
						span.icon-bar          
						span.icon-bar           
						span.icon-bar       
					a.navbar-brand(ui-sref="/") Health App
					
				#navbar.navbar-collapse.collapse
					
							
#landingPage.container-fluid
	.container
		section.row#header
			
			.col-xs-12
				.text-center
					h1 Your Health Helper
					h2 What is your question?
					form
						.form-group
							input.form-control.pull-left#searchBar(type='text', placeholder='Ex: What is A Heart Attack?' ng-model="vm.searchTerm")         
							button.btn.btn-success.pull-right(type='submit' ng-show="vm.searchTerm" ng-click="vm.doSearch(vm.searchTerm)") Search
			
	.container-fluid
		section#listing.row.text-center 
			h4(ng-hide="vm.subs") r/pics
			div.col-xs-4.text-center(ng-show="vm.subs" ng-repeat="name in vm.subs.data.names")
				a(ui-sref="sub({sub : name})")
					span r/{{name}}
	.container
		section#topPost.row
			.col-xs-12.col-md-3.trophy
				object.trophyImg(type="image/svg+xml" data="img/trophy.svg")
			.col-xs-12.col-md-9.text-left
				span.topLabel(ng-class="{'text-success' : vm.confidence == 'good','text-warning' : vm.confidence == 'ok', 'text-danger' : vm.confidence == 'poor' }") {{vm.confidence}} Confidence
				h1 {{vm.watsonAnswer[0].question.evidencelist[0].text}}
				
			