doctype html
html(lang="en")
	head
	base(href="/")
	title Watson Health
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
	link(rel='stylesheet', href='css/styles.css')
	link(href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css')
	script(src="lib/angular/angular.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js")
	script(src="js/main.js")
	script(src="https://cdn.socket.io/socket.io-1.3.5.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.0.0/annyang.min.js")
	body(ng-app="newApp")
		
	
		//UI Router views render here					
		div(ui-view)